:root {
    --blue-one: rgb(159, 191, 255);
    --blue-two: rgb(117, 163, 255);
    --blue-three: rgb(67, 130, 255);
    --blue-four: rgb(82, 139, 252);
    --blue-five: rgb(82, 3, 239);

    --silver-color: #a5a4a4;
    --silver-light: #e4e2e2;

    --gold-one: rgb(126, 90, 0);
    --gold-two: rgb(198, 147, 19);
    --orange-one: rgb(255, 115, 0);
    --orange-two: rgb(248, 206, 171);

    --empty-border: 2px solid rgba(0, 0, 0, 0);
    --thin-empty-border: 1px solid rgba(0, 0, 0, 0);
    --default-transition: border 0.2s, color 0.2s, background-color 0.2s;
}

body {
    height: 100%;
    width: 100%;
    min-width: 340px;
    margin: 0;
    padding: 0;
    border: 0;
    background: var(--orange-two);
    overflow: auto;
}
.center-flex-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mohit-redirect {
    position: absolute;
    top: calc(50% - 375px);
    left: calc(50% - 205px);
    height: 750px;
    width: 410px;
    border: 3px solid var(--silver-color);
    border-radius: 20px;
    background-color: var(--blue-one);
    overflow: hidden;
}
.mohit-redirect-top {
    height: 33px;
    width: 100%;
    background-color: var(--silver-light);
    border-bottom: 2px solid var(--silver-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mohit-redirect-top img {
    user-select: none;
    margin-left: 10px;
    height: 20px;
}
.mohit-redirect-top p {
    user-select: none;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    color: var(--silver-color);
}

.mohit-redirect-body {
    width: 100%;
    height: calc(100% - 35px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mohit-redirect-title {
    font-size: 45px;
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    color: var(--blue-five);
    width: fit-content;
    height: fit-content;
    padding-bottom: 20px;
}

.mohit-redirect-desc {
    width: calc(100% - 20px);
    height: fit-content;
    text-align: left;
    margin: 0;
    padding: 0px 10px;
    padding-bottom: 30px;
    font-size: 17px;
    font-family: 'Lexend', 'Roboto', sans-serif;
    color: var(--blue-five);
}
.mohit-redirect-mainLink {
    margin: 5px 0px;
    padding: 7px 0px;
    text-decoration: none;
    color: var(--gold-one);
    font-size: 20px;
    font-family: 'Roboto', 'Lexend', sans-serif;
    font-weight: bold;
    border: 2px solid;
    border-radius: 10px;
    width: 200px;
    text-align: left;
    transition: var(--default-transition);
}

.mohit-redirect-mainLink:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
.mohit-redirect-mainLink img {
    height: 20px;
    user-select: none;
    margin: 0px 10px;
    position: relative;
    top: 3px;
}

.mohit-redirect-credits {
    color: var(--blue-five);
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 450px) {
    .mohit-redirect {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-width: 340px;
        border: none;
        border-radius: 0px;
    }
    .mohit-redirect-desc {
        width: calc(100% - 30px);
        padding: 0px 15px;
        padding-bottom: 30px;
    }
}