:root {
    --blue-cobalt: #0047ab;
    --blue-zero: rgb(187, 210, 255);

    --blue-one: rgb(159, 191, 255);
    --blue-two: rgb(117, 163, 255);
    --blue-three: rgb(67, 130, 255);
    --blue-four: rgb(82, 139, 252);
    --blue-five: rgb(82, 3, 239);

    --silver-color: #adadad;
    --silver-light: #e4e2e2;
    --globe-green: #4fc20ca8;
    --dark-background: #232323;

    --website-text: rgb(126, 90, 0);
    --website-light-text: rgb(198, 147, 19);
    --website-gradient-text: linear-gradient(to left, rgb(126, 90, 0) 0%, rgb(198, 147, 19) 50%, rgb(126, 90, 0) 100%);

    --nav-bar-background: linear-gradient(to bottom, rgb(255, 115, 0) 0%, rgb(248, 206, 171) 100%);
    --nav-bar-border: rgb(255, 115, 0);
    --webpage-background: linear-gradient(to top, rgb(255, 115, 0) 0%, rgb(248, 206, 171) 100%);
    --webpage-static-background: rgb(248, 206, 171);

    --translucent-background: rgba(255, 255, 255, 0.25);
    --sector-background: rgba(0, 0, 0, 0);
    --dark-translucent-background: rgba(0, 0, 0, 0.15);

    --empty-border: 2px solid rgba(0, 0, 0, 0);
    --thin-empty-border: 1px solid rgba(0, 0, 0, 0);
    --default-transition: border 0.2s, color 0.2s, background-color 0.2s, box-shadow 0.2s;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    min-height: 100%;
    height: auto;
    width: 100%;
    min-width: 340px;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
a, RouterLink {
    text-decoration: none;
    color: inherit;
    border-color: inherit;
}

.projects-body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 340px;
    height: 100%;
    background: transparent;
}
.projects-card-grid {
    width: 950px;
    height: 100%;
    padding: 0px calc(50% - 475px);
    min-height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.projects-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

@media (max-width: 950px) {
    .projects-card-grid {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0px;
    }
    .projects-card-container {
        padding: 30px 0px;
    }
}
@media (max-width: 340px) {
    body {
        overflow-x: auto;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    background: var(--blue-zero);
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-three);
    transition: background-color 0.2s;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-cobalt);
}
::-webkit-scrollbar-button {
    display: none;
}